.title {
    grid-area: title;
    display: flex;
    align-self: center;
    padding: 1vh;
}

.video {
    grid-area: video;
    padding: 1vh;
}

.chapters {
    grid-area: chapters;
    height: 100%;
    padding: 1vh;
}

.map {
    grid-area: map;
    padding: 1vh;
}

.keywords {
    grid-area: keywords;
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding: 1vh;
}

.chatroom {
    grid-area: chatroom;
    padding: 1vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "chapters video video video chatroom"
        "map video video video chatroom"
        "map title title title chatroom"
        "map keywords keywords keywords chatroom";
}