.chapters {
    grid-area: chapters;
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 0 1vh;
}

.map {
    grid-area: map;
    height: 50vh;
    padding: 1vh;
}

.video {
    grid-area: video;
    height: 100%;
    padding: 0 1vh;
}

.metadata {
    grid-area: metadata;
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.keywords {
    display: flex;
    padding: 0 1vh;
}

.chatroom {
    grid-area: chatroom;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 1vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "chapters video video video chatroom"
        "map video video video chatroom"
        "map metadata metadata metadata chatroom";
}

@media only screen and (max-width: 900px) {
    * {
    padding: 0;
    }

    .container {
        grid-template-rows: auto;
        grid-template-areas:
            "video video video video video"
            "metadata metadata metadata metadata metadata"
            "chapters chapters chapters chapters chapters"
            "chatroom chatroom chatroom chatroom chatroom";
      }

      .video:hover ~ .metadata {
          display: block;
      }

      .metadata {
          display: none;
      }

      .chapters {
          height: auto;
      }

      .map {
        display: none;
      }

      .chatroom {
          height: 60vh;
      }
}